.ac_container {
    position: relative;
    display: inline-block;
    margin: 32px;
}

.ac_container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
}

.ac_container ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ac_container li {
    padding: 8px;
    color: black;
    cursor: pointer;
    font-size: 14px;
}

.ac_container li:hover {
    background-color: #f0f0f0;
}
.ac_container button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-inline: 4px;
    cursor: pointer;
    background-color: #f1f1f1;
    font-size: 16px;
}